<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psu.capstonew17.pdxaslapp">

    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TakeQuizSubMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultipleChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlashCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageDecksSubMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageCardsSubMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".DeleteCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateEditDeleteDeckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReceiveDeckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShareDeckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CompleteQuizActivity"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CreateDeckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditDeckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DispQRCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NoExtrnlStrgPrmsActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.psu.capstonew17.backend.sharing.SharingServer"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>