<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psu.capstonew17.pdxaslapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TakeQuizSubMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultipleChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlashCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageDecksSubMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageCardsSubMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateEditDeleteDeckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReceiveDeckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShareDeckActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CompleteQuizActivity"
                  android:parentActivityName=".HomeActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>